# Docker
/**/Dockerfile eol=lf text

# Git
/**/.gitattributes eol=lf export-ignore text
/**/.gitignore eol=lf export-ignore text

# HCL
/**/*.hcl eol=lf text

# PHP
/**/*.conf eol=lf text
/**/*.ini-* eol=lf text

# YAML
/**/*.yml eol=lf text
